.obpress-spa-offer-holder {
    display: flex;
    justify-content: space-between;
}

.obpress-spa-offer-holder-title {
    max-width: 560px;
    width: 100%;
    text-align: center;
    position: relative;
}

.obpress-spa-offer-holder-title.desktop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.obpress-spa-offer-holder-type {
    text-transform: uppercase;
    color: #777777;
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    margin-top: 50px;
    letter-spacing: 3.2px;
}

.obpress-spa-offer-holder-title h2 {
    margin-top: 0;
    margin-bottom: 94px;
    color: #000000;
    font-family: "Montserrat";
    font-size: 48px;
    line-height: 55px;
    font-weight: bold;
}

.obpress-spa-offer-holder-description {
    color: #000000;
    text-align: center;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: 0px;
    margin-bottom: 75px;
    word-break: break-word;
}

.obpress-spa-widget-button {
    background-color: #191919;
    border-width: 1px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2.8px;
    color: #fff;
    font-family: "Montserrat";
    padding: 15px 48px;
    cursor: pointer;
    width: fit-content;
    align-self: center;
    border: 1px solid #191919;
    /* width: 200px; */
    /* position: absolute;
    bottom: 0px;
    left: calc(50% - 100px); */
}

.obpress-spa-widget-button:hover {
  color: #191919;
  background-color: #fff;
}

/* .obpress-spa-swiper .swiper-slide img {
  width: 770px;
} */
.obpress-spa-swiper {
  max-width: 625px;
  width: 100%;
  position: relative;
}

.obpress-spa-swiper-nav {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 27px;
}

.obpress-spa-swiper-nav .swiper-button-prev,
.obpress-spa-swiper-nav .swiper-pagination,
.obpress-spa-swiper-nav .swiper-button-next {
  position: static;
}

.swiper-pagination {
  align-self: center;
}

.swiper-button-prev svg {
  transform: rotate(180deg);
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: 100%;
  height: 100%;
}

.custtom_bg_color {
  fill: #000;
  stroke: #000;
  transition: 0.3s;
}
.custtom_color {
  stroke: #fff;
  transition: 0.3s;
}

.obpress-spa-swiper-nav svg:hover .custtom_bg_color {
  stroke: #000;
}

.obpress-spa-swiper-nav svg:hover .custtom_color {
  stroke: #000;
}

.obpress-spa-swiper-nav svg:hover .custtom_bg_color {
  fill: #fff;
}

.obpress-spa-swiper-nav .swiper-button-prev,
.obpress-spa-swiper-nav .swiper-button-next {
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  background-size: cover;
  margin-top: 0px;
}

.obpress-spa-swiper-nav .swiper-button-prev::after,
.obpress-spa-swiper-nav .swiper-button-next::after {
  content: unset;
}

.obpress-spa-swiper-nav .swiper-button-prev {
  background-image: url('../icons/back.svg');
  margin-right: 80px;
}

.obpress-spa-swiper-nav .swiper-button-next {
  background-image: url('../icons/next.svg');
  margin-left: 80px;
}

.obpress-spa-swiper-lines .swiper-pagination-bullet {
  border-radius: 0px;
  width: 20px;
}

.obpress-spa-swiper-lines .swiper-pagination-bullet-active {
  width: 30px;
}

.obpress-spa-swiper-pagination-disabled {
  display: none;
}

.obpress-spa-swiper-nav .swiper-pagination-bullet {
  margin-right: 10px;
  background-color: #000000;
}

.obpress-spa-swiper-nav .swiper-pagination-bullet:last-child {
  margin-right: 0px;
}

.obpress-spa-swiper-image {
  background-image: url('../images/spa.png');
  height: 505px;
  width: 625px;
  background-size: cover;
}

.obpress-spa-offer-holder-title.mobile {
  display: none;
}


/* MOBILE */
@media(max-width: 1279px) {

  .obpress-spa-offer-holder {
    flex-direction: column;
    padding: 0px 20px;
  }

  .obpress-spa-swiper-nav .swiper-button-prev, 
  .obpress-spa-swiper-nav .swiper-button-next {
    display: none;
  }

  .obpress-spa-offer-holder-title.desktop p,
  .obpress-spa-offer-holder-title.desktop .obpress-spa-offer-holder-description,
  .obpress-spa-offer-holder-title.desktop .obpress-spa-widget-button {
    display: none;
  }

  .obpress-spa-offer-holder-title.mobile {
    display: block;
  }

  .obpress-spa-swiper {
    max-width: 100%;
  }

  .obpress-spa-offer-holder-title {
    max-width: 100%;
  }

  .obpress-spa-swiper-image {
    width: 100%;
    height: 272px;
  }

  .obpress-spa-offer-holder-title h2 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 26px;
  }

  .obpress-spa-swiper-nav {
    margin-top: 10px;
  }

  .swiper-pagination-bullet {
    height: 4px;
  }

  .obpress-spa-swiper-lines .swiper-pagination-bullet {
    width: 17px;
  }

  .obpress-spa-swiper-lines .swiper-pagination-bullet-active {
    width: 28px;
  }

  .obpress-spa-offer-holder-description {
    font-size: 12px;
  }

  .obpress-spa-offer-holder-title p {
    margin: 31px 0px 22px 0px;
  }

  .obpress-spa-widget-button {
    padding: 11px 21px;
    line-height: 18px;
    width: fit-content;
    left: 0;
    right: 0;
  }
}