.obpress-spa-top-holder {
    font-family: "Montserrat", Sans-serif;
    padding-bottom: 77px;
}

.obpress-spa-top-widget-holder {
    display: flex;
    max-width: 1254px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-height: 516px;
    justify-content: space-between;
}

.obpress-spa-top-widget-gallery {
    max-width: 615px;
    position: relative;
    height: 516px;
}

.obpress-spa-top-widget-info {
    max-width: 622px;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 42px 117px 42px 135px;
    text-align: center;
}

.obpress-spa-top-widget-info h4 {
    margin-top: 0px;
    margin-bottom: 9px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.48px;
    color: #111111;
}

.obpress-spa-top-widget-info h3 {
    margin-top: 0px;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: bold;
    color: #111111;
    letter-spacing: -0.72px;
}

.obpress-spa-top-description {
    margin-top: 0px;
    color: #777777;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 25px;
}

.obpress-spa-top-line {
    max-width: 224px;
    width: 100%;
    min-height: 1px;
    background-color: #CECECE;
    align-self: center;
}

.obrpress-spa-top-time-title {
    color: #707070;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin-top: 10px;
    margin-bottom: 16px;
}

.obpress-spa-top-time {
    margin-top: 0px;
    margin-bottom: 11px;
}


.obpress-spa-top-time strong {
    color: #2C2F33;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
}



.obpress-spa-top-widget-button {
    background-color: #000000;
    border-width: 1px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2.8px;
    color: #fff;
    font-family: "Montserrat";
    padding: 15px 35.5px 15px 35.5px;
    margin: 27px auto 0px auto;
}

.obpress-spa-top-widget-button:hover {
    cursor: pointer;
}

.obpress-spa-top-swiper {
    height: 100%;
}

.obpress-spa-top-swiper-image {
    width: 615px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/spa_list_1.png');
}

.obpress-spa-top-swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.obpress-spa-top-widget-gallery .swiper-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.obpress-spa-top-swiper .swiper-slide {
    height: 166px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    margin-right: 10px;
}

.obpress-spa-top-swiper .swiper-slide:nth-child(3n+2) {
    margin: 9px 0px !important;
}

.obpress-spa-top-swiper .obpress-swiper-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.38);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    opacity: 1;
}

.obpress-swiper-overlay p {
    color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 0px;
    font-style: italic;
    letter-spacing: -0.48px;
    font-size: 16px;
    font-weight: 500;
}

.obpress-spa-top-swiper .obpress-swiper-overlay:hover {
    cursor: pointer;
}

.obpress-spa-top-swiper .obpress-overlay-selected {
    opacity: 0;
}


.obpress-spa-top-swiper .obpress-swiper-overlay h4 {
    color: #fff;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 3.2px;
}

.obpress-spa-top-swiper-nav {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: -78px;
}

.obpress-spa-top-swiper-nav .swiper-button-prev,
.obpress-spa-top-swiper-nav .swiper-button-pagination,
.obpress-spa-top-swiper-nav .swiper-button-next {
    position: static;
}

.obpress-spa-top-swiper-nav .swiper-button-prev,
.obpress-spa-top-swiper-nav .swiper-button-next {
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    background-size: cover;
    margin-top: 0px;    
}

.obpress-spa-top-swiper-nav .swiper-button-prev {
    background-image: url(../icons/back.svg);
    margin-right: 80px;    
}

.obpress-spa-top-swiper-nav .swiper-button-next {
    background-image: url(../icons/next.svg);
    margin-left: 80px;
}

.obpress-spa-top-swiper-nav .swiper-pagination-bullet {
    border-radius: 0px;
    width: 20px;
    margin-right: 10px;    
}

.obpress-spa-top-swiper-nav .swiper-pagination-bullet:last-child {
    margin-right: 0px;
}

.obpress-spa-top-swiper-nav .swiper-pagination-bullet-active {
    width: 30px;
}
